table.layout-select {
  border-spacing: 0;
  border-collapse: collapse;
  z-index: 999;
}
table.layout-select tr {
  margin: 0;
  padding: 0;
}
table.layout-select tr td {
  width: 30px;
  height: 30px;
  margin: 2px;
  transition: background 0.2s ease-in-out;
}
table.layout-select tr td > div {
  height: 100%;
  border: 1px solid #333;
}
table.layout-select tr td > div.grid-select-active {
  background: rgb(22, 27, 34);
}
#grid-select {
  border: 6px solid #333;
  border-radius: 8px;
  cursor: pointer;
  background: rgb(22, 27, 34);
}
